.CommentForm {
  margin-bottom: 30px;
}

.CommentForm.CommentForm > * {
  margin: 0;
  margin-bottom: 10px;
}

.CommentForm > *:last-child {
  margin-bottom: 0;
}

.CommentForm-textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 80px;
  resize: vertical;
  padding: 4px 5px;
}