.Item {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
}

.Item_selected {
  background: #75aaf1;
  color: #fff;
}

.Item__code {
  padding: 20px 10px 20px 20px;
}

.Item__info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 10px;

}

.Item__title {
  margin-right: auto;
}

.Item__price {}

.Item__count {
  min-width: 70px;
  margin-left: 20px;
  text-align: right;
}

.Item__actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
}